@import "components/vw";
@import "components/vw-responsive-tabs";

#omdweb-mypipeline {
  @include pie-clearfix;
  .action-menu .btn {
    font-family: $sans-font;
    font-size: 11px;
    line-height: 14px;
  }

  .jcarousel-wrapper {
    border-bottom: 1px solid $borders;
    margin-bottom: 2em !important;
  }

  .omdweb-color-filter {
    @include pie-clearfix;
    padding-bottom: 1.5em;
    border-bottom: 1px solid $borders;
    margin-bottom: 2em;
  }
  .omdweb-exterior-colors {
    @include pie-clearfix;
    margin-bottom: 1.5em;
    li {
      display: block;
      float: left;
      margin: 0 1px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      display: block;
      border: 2px solid #fff;
      line-height: 1;
      width: 44px;
      height: 44px;
      &.selected {
        border-color: #e21838;
        cursor: default;
      }
    }
    img {
      display: inline;
    }
    h2 {
      margin-bottom: .67em;
    }
  }
  .omdweb-interior-colors {
    h3 {
      font-size: 14px;
      font-weight: 700;
      span {
        font-weight: 100;
        color: #434c53;
      }
    }
    li {
      position: relative;
      a {
        font-weight: 100 !important;
        margin-left: 30px;
      }
    }
    .omdweb-vw-interior-color {
      text-align: center;
      position: absolute;
      top: 2px;
      left: 0;
      width: 24px;
      height: 16px;
      img {
        width: 24px;
        height: 16px;
        position: absolute;
        top: 0;
        left: 0;
      }
      span {
        color: #fff;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        line-height: 16px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }

  .status-header.stylized {
    margin: 15px 0 10px;
    h1 {
      margin: 0;
    }
  }

  .status-stats {
    strong {
      margin-right: 1.5%;
    }
    span {
      margin-right: 5%;
    }
  }

  h2 {
    span {
      font-size: 14px;
      font-weight: 100;
      color: #434c53;
    }
  }

  // Tabbed interface
  .r-tabs {
    .r-tabs-anchor {
      color: #737373;
      text-decoration: none;
      outline: none;
      span {
        display: block;
      }
    }
    .r-tabs-accordion-title {
      background-color: #e5e9ea;
      &:first-of-type {
        margin-top: 1.5em;
      }
      &:last-of-type {
        background-color: $borders;
      }
      &.r-tabs-state-active {
        background-color: white;
      }
    }
  }
  .status-header {
    .icon-legend {
      margin-top: 1em;
      float: right;
      li {
        float: left;
        margin-right: 30px;
      }

      @include at-breakpoint($gt-tablet) {
        margin-top: 0;
      }
    }
  }

  @include at-breakpoint($gt-tablet) {
    header.stylized {
      h1 {
        float: left;
      }
    }
    .status-header {
      .icon-legend {
        li {
          float: left;
          margin-right: 0;
          margin-left: 30px;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
    .omdweb-exterior-colors {
      @include pie-clearfix;
      @include span-columns(8,12);
      margin-bottom: 0;
      a {
        &.selected {
          &:hover {
            border-color: #e21838;
          }
        }
        &:hover {
          border-color: $borders;
        }
      }
    }
    .omdweb-interior-colors {
      @include span-columns(4 omega,12);
    }

    // Tabbed interface
    .r-tabs {
      .r-tabs-nav {
        @include pie-clearfix;
        margin-top: 1.5em;
      }
      .r-tabs-tab {
        width: 13.65%;
        vertical-align: bottom;
        position: relative;
        top: 0px;
        float: left;
        margin-right: 3px;
      }
      .r-tabs-anchor {
        position: relative;
        height: 58px;
        display: block;
        padding: 9px 6%;
        line-height: 14px;
        margin-bottom: 0;
        background-color: transparent;
        span {
          position: absolute;
          left: 6%;
          bottom: 5px;
        }
      }
      .r-tabs-state-default {
        background-color: #e5e9ea;
        &.omdweb-separate { background-color: $borders; }
        .r-tabs-anchor:hover {
          background-color: darken(#e5e9ea,3%);
        }
      }
      .omdweb-separate {
        float: right;
        margin-right: 0;
      }
    }
  }
  .dataTable td:first-child { width: 40px; }
}
